.navSticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    /* border: 1px solid black; */
    padding: 1em 5em 1em 6em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}