.helpSticky{
    position: -webkit-sticky;
    position: sticky;
    /* bottom: 0; */
    /* top: 0; */
    right: 0%;
    bottom: 0%;
    margin-right: 2em;  
    margin-top: 2em;
    margin-bottom: 2em;
}